<?xml version="1.0"?>

<launch>
	<arg name="euroc_playback_speed" default="1.0"/>
	<arg name="euroc_bags_folder" default="/data/Vicon/"/> 
	<arg name="euroc_root_map_directory" default="/tmp/maplab_node/"/>

	<group>
		<arg name="euroc_robot_name" default="v101"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/V1_01_easy.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0"/>
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw"/>
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw"/>
		</node>

		<include file="$(find maplab_server_node)/launch/euroc/euroc-maplab-node-w-rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="robot_calib_file" default="euroc-stereo-v101.yaml"/>
			<arg name="root_map_directory" default="$(arg euroc_root_map_directory)"/>
		</include>
	</group>

	<group>
		<arg name="euroc_robot_name" default="v102"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/V1_02_medium.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0"/>
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw"/>
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw"/>
		</node>

		<include file="$(find maplab_server_node)/launch/euroc/euroc-maplab-node-w-rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="robot_calib_file" default="euroc-stereo-v102.yaml"/>
			<arg name="root_map_directory" default="$(arg euroc_root_map_directory)"/>
		</include>
	</group>

	<group>
		<arg name="euroc_robot_name" default="v103"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/V1_03_difficult.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0"/>
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw"/>
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw"/>
		</node>

		<include file="$(find maplab_server_node)/launch/euroc/euroc-maplab-node-w-rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="robot_calib_file" default="euroc-stereo-v103.yaml"/>
			<arg name="root_map_directory" default="$(arg euroc_root_map_directory)"/>
		</include>
	</group>
	
	</launch>