<?xml version="1.0"?>

<launch>
	<arg name="robot_name" default=""/>
	<arg name="robot_calib_file" default=""/>
	<arg name="root_map_directory" default=""/>

	<group ns="$(arg robot_name)">
		<!-- ROVIOLI -->
		<group ns="rovioli">
			<node name="rovioli" pkg="rovioli" type="rovioli" output="screen" clear_params="true">
				<!-- GENERAL PARAMS -->
				<rosparam command="load" file="$(find maplab_server_node)/launch/hercules/ros/hercules-rovioli-rosparam.yaml"/>

				<!-- ROBOT SPECIFIC PARAMS -->
				<param name="sensor_calibration_file" value="$(find maplab_server_node)/launch/hercules/calib/$(arg robot_calib_file)"/>
				<param name="save_map_folder" value="$(arg root_map_directory)/rovioli/$(arg robot_name)"/>
				<param name="export_estimated_poses_to_csv" value="$(arg root_map_directory)/rovioli/$(arg robot_name)/estimated_poses.csv"/>
			</node>
		</group>
	</group>
</launch>
