<?xml version="1.0"?>

<launch>
	<arg name="hercules_playback_speed" default="1.0"/>
	<arg name="hercules_bags_folder" default="/home/dbutterfield3/data/Hercules_datasets/V1.6/extract/bags_for_maplab"/>
	<arg name="hercules_root_map_directory" default="/home/dbutterfield3/data/Hercules_datasets/V1.6/results/maplab_results/robot_maps"/>

	<!-- ================================== Drone1 ================================================== -->
	<group>
		<arg name="hercules_robot_name" default="Drone1"/>
		<node pkg="rosbag" type="play" name="rosbag_$(arg hercules_robot_name)" args="$(arg hercules_bags_folder)/$(arg hercules_robot_name).bag -q -d 2 -s 0 -r $(arg hercules_playback_speed)">
			<remap from="/imu0" to="/$(arg hercules_robot_name)/imu0"/>
			<remap from="/cam0/image_raw" to="/$(arg hercules_robot_name)/cam0/image_raw"/>
		</node>

		<include file="$(find maplab_server_node)/launch/hercules/hercules-maplab-node-w-rovioli.launch">
			<arg name="robot_name" default="$(arg hercules_robot_name)"/>
			<arg name="robot_calib_file" default="hercules-$(arg hercules_robot_name).yaml"/>
			<arg name="root_map_directory" default="$(arg hercules_root_map_directory)"/>
		</include>
	</group>
</launch>
