<?xml version="1.0"?>

<launch>
	<arg name="root_map_directory" default="/home/nisemono/data/Hercules_datasets/$(arg dataset_number)/results/maplab_results"/>

	<!-- MAPLAB SERVER -->
	<group ns="maplab_server">
		<node name="maplab_server_node" pkg="maplab_server_node" type="maplab_server_node" output="screen" clear_params="true">
            <!--This file contains the hyperparameters for maplab-->
			<rosparam command="load" file="$(find maplab_server_node)/launch/hercules/ros/maplab_server_ros_params.yaml"/>

			<param name="maplab_server_merged_map_folder" value="$(arg root_map_directory)/merged_map"/>
			<param name="maplab_server_map_update_topic" value="/Drone1/update,/Drone2/update,/Husky1/update,/Husky2/update"/>
		</node>
	</group>
</launch>
