<?xml version="1.0"?>

<launch>
	<!-- MAPLAB SERVER -->
	<group ns="maplab_server">
		<node name="maplab_server_node" pkg="maplab_server_node" type="maplab_server_node" output="screen" clear_params="true">
            <!--This file contains the hyperparameters for maplab-->
			<rosparam command="load" file="$(find maplab_server_node)/cfg/maplab_server_ros_params.yaml"/>

			<param name="maplab_server_map_update_topic" value="/Drone1/update,/Drone2/update,/Husky1/update,/Husky2/update"/>
		</node>
	</group>
</launch>
